import React from 'react';
import './{{camelCase name}}.css';

const {{properCase name}} = () => {
  return (
    <div className="{{kebabCase name}}">
      <h1>{{properCase name}} Component</h1>
    </div>
  );
};

export default {{properCase name}};